.about {

    padding: 100px 0;

    h3 {
        text-align: center;
    }
    
   &__content {
       display: flex;
       justify-content: center;

       &--img {
           width: 30%;
           border: 10px solid $accent-color;
           height: 30%;
       }

       img {
           margin-left: 25px;
           margin-top: 25px;
           margin-bottom: -30px;
        //    width: 80%;
       }

       &--text {
           width: 60%;
           margin-left: 5%;
       }
   }
}