.about {
    background-color: $bg-color-2;
    padding: 100px 0;

    h3 {
        text-align: center;
    }
    
   &__content {
       display: flex;
       justify-content: center;

       &--img {
           width: 30%;
           border: 10px solid $accent-color;
           height: 30%;
       }

       img {
           margin-left: 25px;
           margin-top: 25px;
           margin-bottom: -30px;
       }

       &--text {
           width: 60%;
           margin-left: 5%;
           margin-top: 20px;
       }
   }
}

.direct {
    color: $accent-color;
    border-bottom: 1px solid $accent-color;
    &:hover {
        font-weight: 700;
    }
}

@media all and (max-width: 900px) {
	.about {
        &__content {
            flex-direction: column;
            &--text {
                width: 100%;
                margin: 0 auto;
                margin-top: 40px;
            }

            &--img {
                width: 50%;
                margin: 0 auto;
            }

        }
    }
}

@media all and (max-width: 720px) {
	.about {
        &__content {

            &--img {
                width: 80%;
            }
        }
    }
}