.contact {
    background-color: $bg-color;
    padding: 100px 0;
    h2 {
        text-align: center;
        color: #fff;
    }
    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }
}