.header {
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-color: $bg-color;
    color: #ffffff;

    &__content {
        text-align: center;
    }
}