.navigation {
    display: flex;

    &__menu {
        display: flex;
        flex-grow: 1;

        a {
            padding: 10px 20px;
            color: #fff;
            text-transform: uppercase;
        }

        a:hover {
            color: $accent-color;
        }
    }

    .logo {
        align-content: flex-start;
        flex-grow: 100;
    }
}