.portfolio {

    padding: 100px 0;

    h3 {
        text-align: center;
    }

    &__content {
        display: flex;
        justify-content: center;
        padding: 80px 0;

        &--img {
            width: 50%;
        }

        &--text {
            width: 50%;
        }

        // &--text p:nth-of-type(2) {
        //     text-align: justify;
        // }

        &--img:nth-of-type(1n) {
            margin-right: 6%;
        }

        &--img:nth-of-type(2n) {
            margin-left: 5%;
        }

        a {
            @include link-btn-style;
        }

        &:nth-of-type(2n) {
            text-align: right;
        }
    }
}