// variables
$accent-color: #2ed4b0;
$bg-color: #1b1b1b;
$bg-color-2: #f1f1f1;

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 80%;
}

// mixins

@mixin primary-font($size) {
    font-size: $size;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

@mixin secondary-font($size) {
    font-size: $size;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p {
    @include primary-font(0.8rem);
    line-height: 1.6;
}

@mixin link-btn-style {
    padding: 10px 20px;
    background-color: $accent-color;
    color: #fff;
}